<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="nav" style="z-index: 1;">
    <div class="container-fluid" id="navbar">

        <!-- boton del menu -->
        <button class="navbar-toggler w-auto" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="#menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- elementos del menu colapsable -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/home">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="/new-user">Agregar contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>