<div class="card" style="width: 15rem;">
    <img class="card-img-top" src="{{image}}" alt="Card image cap">
    <div class="card-body" style="text-align:center;">
        <h5 class="card-title">{{ name }}</h5>
    </div>
    <div class="card-body" style="text-align:center; padding: .5rem 0;">
        <a href="#" style="margin: 0 .5vw"><mat-icon>search</mat-icon></a>
        <a href="#" style="margin: 0 .5vw"><mat-icon>refresh</mat-icon></a>
        <a href="#" style="margin: 0 .5vw"><mat-icon>delete</mat-icon></a>
    </div>
</div>